assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/nbproject/private/
protected/archivos/problemas/*
protected/archivos/stubs/*
stubs/*.zip
nbproject